body {
	background: url(fon.jpg);
}
.wrapper {
	margin: 0 auto;
	margin-top: 150px;
	overflow: hidden;
	width: 500px;
	height: 500px;
	background: #666;
	border-radius: 8px;
	border: 3px solid #706e39;
}
.main {
	margin: 0 auto;
	margin-top: 10px;
	width: 500px;
	height: 500px;
}
.display input {
	background: #ddd;
	margin: 0 auto;
	overflow: hidden;
	margin-left: 100px;
	margin-right: 100px;
	width: 300px;
	height: 40px;
	border-radius: 8px;
	font-size: 24px;
}
.buttons input {
	background: #aaa;
	margin: 0 auto;
	margin-left: 20px;
	overflow: hidden;
	width: 70px;
	height: 70px;
	border-radius: 8px;
	font-size: 24px;
}

